<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Roles Manager</title>
</head>
<body>
	<div align="center">
		<h1>Roles List</h1>
		<a href="/roles/new">New Role</a> <br /> <br />
		<table border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="role : ${rolesList}">
					<td th:text="${role.id}">ID</td>
					<td th:text="${role.name}">Name</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
