<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Roles Manager</title>
</head>
<body>
	<div align="center">
		<h1>New Role</h1>

		<form th:action="@{/roles/save}" method="post"
			enctype="multipart/form-data" class="form-horizontal">
			<fieldset>
				<div>
					<label>Role name</label>
					<div>
						<input type="text" name="roleName" />
					</div>
				</div>
				<div>
					<div>
						<button type="submit" name="button">Create</button>
					</div>
				</div>
			</fieldset>
		</form>

	</div>
</body>
</html>
